<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style.css" >




</head>



<body style="min-width: 850px;">
<div style="background-image: url('../resources/Background-main.jpg'); background-size: 100%">


<div style="margin: 0 auto; background-color: transparent;width: 850px; min-height: 550px">

    <div style=" position:relative;float: left; display: inline-block; width: 150px">

        <button type="button"  id="btnStart">START</button>


    </div>

    <div id="Field" class="gameField"></div>

    <div style=" position:relative; float: left; display: inline-block; width: 150px; ">

        <button type="button"  id="btnClear">Clear field</button>


        <div style="width: 100%; height: 150px; float: left;
        background-image: url('../resources/Board.jpg'); background-size: 100% 100%;">

            <h3 style="float: left; margin-top: 20px">Sneak size: </h3>
            <h4 id="Ssize" style="float: left; margin-top: 22px; margin-left: 5px"></h4>

            <h3 style="float: left; margin-top: 8px">Field size: </h3>
            <h4 id="Fsize" style="float: left; margin-top: 10px; margin-left: 12px"></h4>

            <h3 style="float: left; margin-top: 8px">Field size: </h3>
            <h4 id="Fcount" style="float: left; margin-top: 10px; margin-left: 12px"></h4>

        </div>

    </div>



</div>

</div>


<script src="../../webpack/bundle.js" type="application/javascript"></script>
</body>
</html>