<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style.css" >




</head>



<body style="min-width: 850px;">
<div style="background-image: url('../resources/Background-main.jpg'); background-size: 100%">


<div style="margin: 0 auto; background-color: transparent;width: 850px; min-height: 550px">

    <div style=" position:relative;float: left; display: inline-block; width: 150px">

        <button type="button"  id="btnStart">START</button>


    </div>

    <div id="Field" class="gameField"></div>

    <div style=" position:relative; float: left; display: inline-block; width: 150px">

        <button type="button"  id="btnClear">Clear field</button>
    </div>



</div>

</div>


<script src="../../webpack/bundle.js" type="application/javascript"></script>
</body>
</html>